<%= search_form_for @search, url: search_recommends_path do |f| %>
  <div class="search-field">
    <div class="search-category">
      <%= f.label :category_id_eq, 'カテゴリー検索' %>
    </div>
    <div class="search-select">
      <%= f.collection_select(:category_id_eq, Category.all, :id, :name, {class:"select-box", id:"recommend-region"}) %>
    </div>
    <div class="search-submit">
      <%= f.submit '検索' %>
    </div>
  </div>
<% end %>
<div class="recommend-wide">
  <div class="contents-row">
    <% @recommends.each do |recommend| %>
      <div class='recommend-list'>
        <%= link_to recommend_path(recommend.id) do %>
          <div class='recommend-img-content'>
            <%= image_tag recommend.image.variant(resize: '380x380'), class: "recommend-img" %>
          </div>
          <div class='recommend-info'>
            <p class='name'>
              場所：<%= recommend.place_name %>
            </p>
            <p class='name'>
              カテゴリー：<%= recommend.category.name %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
