<div class="recommend-wide">
  <div class="show-contents-row">
    <div class="more">
      <div class="place-name">
        場所：<%= @recommend.place_name %>
      </div>
      <div class="show-recommend">
        <span><%= image_tag @recommend.image.variant(resize: '450x600'), class: "recommend-img" %></span>
        <div class="name-field">
          <p class="name">•地方：<%= @recommend.region.name %></p>
          <p class="name">•市町村：<%= @recommend.city.name %></p>
          <p class="name">•カテゴリー：<%= @recommend.category.name %></p>
        </div>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <% if current_user.id == @recommend.user_id %>
      <ul class="more-list">
        <li class="list-contents">
          <%= link_to '投稿を削除しますか？-Do you want to delete this post?-', recommend_path(@recommend.id), method: :delete %>
        </li>
      </ul>
    <% end %>
  <% end %>
</div>