<!DOCTYPE html>
<html>
  <head>
    <title>Original37116</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><%= link_to 'Know the citrus kingdom', root_path %></h1>
        <div class="user_nav grid-6">
          <%= link_to 'New post', new_recommend_path, class: 'post' %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Imochan's work
      </p>
    </footer>
  </body>
</html>
